*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(./../img/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.mainDiv{
    width: 500px;
    height: 500px;
    background-color: #6b2a2af1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divForm{
    width: 96%;     
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    padding: 40px 0;
}

.formsDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.divInput{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#genderM{
    margin-right: 20px;
}

.divForm12{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divForm4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSend{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes jumpBox {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0px);}
}

.animated2 {
    animation-name: jumpBox;
    animation-duration: 1s;
}

.contDivDatos{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b2a2af1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#divDatos{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    gap: 2px;
    background-color: aliceblue;
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.animated {
    animation-name: fadeIn;
    animation-duration: 1s;
}
